// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

.header {
	background-image: url('../uploads/togheader.jpg');
	background-size: cover;
	background-position: center;
	height: 300px;
}

@media (min-width: 992px) {
	.header {
		height: 400px; /* Fixed height for even larger screens */
		background-size: cover;
		background-position: center;
	}
}

.separator {
	max-height: 10px;
	min-height: 10px;
	background-color: darkblue;
}

.small-images img {
	width: 100px; /* Adjust as needed */
	height: auto;
	padding: 10px;
}

.SenesteVideo {
	padding: 20px;
	text-align: center;
	background-image: url("../uploads/baggrundbillede.png");
	background-size: cover;
	background-position: center;


}
.video-container {
	position: relative;
	width: 100%;
	max-width: 80%;
	padding-bottom: 56.25%; /* 16:9 Ratio */
	height: 0;
	overflow: hidden;
	margin: 0 auto;
}
.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-height: 80vh;
}

.copyright {
	background-color: darkblue;
	color: white;
}

.carousel-inner .carousel-item img {
	width: 80%; /* Adjust this value to control the width of the images */
	max-width: 80%;
	height: auto; /* Maintain aspect ratio */
	max-height: 100vh;
	display: block;
	margin: 0 auto; /* Center the images horizontally */
}

/* Ensure carousel controls are properly positioned */
.carousel-control-prev,
.carousel-control-next {
	width: 5%; /* Adjust if needed to ensure buttons are visible */
}

/* Adjust position and z-index if needed to ensure controls are clickable */
.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: rgba(0, 0, 0, 0.5); /* Optional: add a background to the icons for better visibility */
	border-radius: 50%;
	padding: 10px; /* Adjust padding if needed */
}